@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
    @apply w-full p-3 border rounded-lg outline-none focus:ring-2 focus:ring-red-400;
}
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  animation: fadeUp 0.8s ease-out forwards;
  animation-delay: 0.5s;
}